ion-tab-bar {
  --border: none;
  --background: var(--ion-background-color, #000000); /* Dark background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

ion-tab-button {
  --background: transparent;
  --color: var(--ion-text-color, #e0e0e0); /* Light text color */
}

ion-tab-button:hover {
  --background: var(--ion-hover-background, #000000); /* Dark hover background */
}

ion-icon {
  font-size: 30px; /* Reduced size of the icon to 30px */
  color: var(--ion-icon-color, #e0e0e0); /* Light icon color */
}

ion-label {
  font-size: 14px; /* adjust label size as needed */
  color: var(--ion-text-color, #e0e0e0); /* Light label color */
}

.padding-top {
  padding-top: 1rem;
}

/* Optional: For when the theme toggles */
.dark-mode {
  ion-tab-bar {
    --background: #000000;
  }

  ion-tab-button {
    --color: #e0e0e0;
  }

  ion-tab-button:hover {
    --background: #000000;
  }

  ion-icon,
  ion-label {
    color: #e0e0e0;
  }
}
