
<div style="padding-top: 1.5rem;">

</div>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>product-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        Hot Pick
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <swiper-container [spaceBetween]="5" [slidesPerView]="1">
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img class="nft-image" src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button (click)="navigateToPlaceOrderPage()" ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>

            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon way!</div>
                <img class="nft-image" src="assets/images/shoe-2.jpg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>

      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img class="nft-image" src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>

            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon way!</div>
                <img class="nft-image" src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img class="nft-image" src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>

            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon way!</div>
                <img class="nft-image" src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    </swiper-container>
  </section>
  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        Popular Collection
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <swiper-container [spaceBetween]="9" [slidesPerView]="1">
      <swiper-slide>
        <ion-grid class="popular-product-card">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img class="nft-image" class="nft-image" src="assets/images/family-1.png" alt="My Hero Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>My Hero and super token</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img class="nft-image" class="nft-image" src="assets/images/shoe-3.png" alt="Light & Weight Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>Light and Weight Token</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="popular-product-card">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img class="nft-image" class="nft-image" src="assets/images/shoe-3.png" alt="My Hero Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>My Hero</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img class="nft-image" class="nft-image" src="assets/images/shoe-3.png" alt="Light & Weight Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>Light & Weight</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="popular-product-card">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img class="nft-image" class="nft-image" src="assets/images/shoe-3.png" alt="My Hero Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>My Hero</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img class="nft-image" class="nft-image" src="assets/images/shoe-3.png" alt="Light & Weight Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>Light & Weight</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="popular-product-card">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img class="nft-image" src="assets/images/shoe-3.png" alt="My Hero Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>My Hero</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img class="nft-image" src="assets/images/shoe-3.png" alt="Light & Weight Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>Light & Weight</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    </swiper-container>
  </section>
  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        WalkCraft NFT's
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <swiper-container [spaceBetween]="10" [slidesPerView]="1">
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">From Future</div>
                <img class="nft-image" src="assets/images/From_Future.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Moon Dance</div>
                <img class="nft-image" src="assets/images/Moon_dance.png" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">0.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Jackson shoe</div>
                <img class="nft-image" src="assets/images/Jackson.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Moon Dance</div>
                <img class="nft-image" src="assets/images/Twister.png" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">0.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    </swiper-container>
  </section>
  <ion-item lines="none">
    <ion-label class="main-lable-heading">
      Top Collectors this month
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of topCollectorOfTheMonthList; let i = index" class="custom-item">
      <!-- Serial Number -->
      <div class="serial-number">{{ i + 1 }}</div>
  
      <!-- Image -->
      <ion-avatar class="custom-avatar">
        <img [src]="item.image" alt="{{ item.title }}">
      </ion-avatar>
  
      <!-- Title and Price -->
      <ion-label class="custom-label">
        <h2>{{ item.title }}</h2>
        <p>
          <span>{{ item.price | currency:'USD': 'symbol' }}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        Runcraft NFTs
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  
    <ion-grid class="main-product-card">
      <ion-row>
        <!-- Loop through the items in pairs -->
        <ng-container *ngFor="let i of runCraftNftList; let idx = index">
          <ion-col size="6" size-md="6" *ngIf="idx % 2 === 0">
            <!-- Left card -->
            <div class="card-container">
              <div class="trainer-title">{{ runCraftNftList[idx].title }}</div>
              <img class="nft-image" [src]="runCraftNftList[idx].image" [alt]="runCraftNftList[idx].title" class="trainer-image">
              <div class="bid-info">
                <div class="bid-details">
                  <div class="bid-para">Current bid</div>
                  <div class="bid-number">{{ runCraftNftList[idx].bidNum }}</div>
                </div>
                <div class="time-remaining">
                  <div class="bid-para">Time remaining</div>
                  <div class="bid-number">10:18:20</div>
                </div>
              </div>
              <button (click)="navigateToPlaceOrderPage()" ion-button color="primary" class="bid-button">
                Place bid
              </button>
            </div>
          </ion-col>
  
          <!-- Right card -->
          <ion-col size="6" size-md="6" *ngIf="runCraftNftList[idx + 1]">
            <div class="card-container">
              <div class="trainer-title">{{ runCraftNftList[idx + 1].title }}</div>
              <img class="nft-image" [src]="runCraftNftList[idx + 1].image" [alt]="runCraftNftList[idx + 1].title" class="trainer-image">
              <div class="bid-info">
                <div class="bid-details">
                  <div class="bid-para">Current bid</div>
                  <div class="bid-number">{{ runCraftNftList[idx + 1].bidNum }}</div>
                </div>
                <div class="time-remaining">
                  <div class="bid-para">Time remaining</div>
                  <div class="bid-number">10:18:20</div>
                </div>
              </div>
              <button (click)="navigateToPlaceOrderPage()" ion-button color="primary" class="bid-button">
                Place bid
              </button>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </section>
  
  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        Classy NFTs
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  
    <ion-grid class="main-product-card">
      <ion-row>
        <!-- Loop through the items in the list -->
        <ng-container *ngFor="let item of classyCraftNftList">
          <ion-col size="6" size-md="6">
            <!-- Card content -->
            <div class="card-container">
              <div class="trainer-title">{{ item.title }}</div>
              <img class="nft-image" [src]="item.image" [alt]="item.title" class="trainer-image">
              <div class="bid-info">
                <div class="bid-details">
                  <div class="bid-para">Current bid</div>
                  <div class="bid-number">{{ item.bidNum }}</div>
                </div>
                <div class="time-remaining">
                  <div class="bid-para">Time remaining</div>
                  <div class="bid-number">10:18:20</div>
                </div>
              </div>
              <button (click)="navigateToPlaceOrderPage()" ion-button color="primary" class="bid-button">
                Place bid
              </button>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </section>
  
  <ion-item lines="none">
    <ion-label class="main-lable-heading">
      Limited Edition
    </ion-label>
  </ion-item>

  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        Yoga to yogi Nft's
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  
    <ion-grid class="main-product-card">
      <ion-row>
        <!-- Loop through the items in the list -->
        <ng-container *ngFor="let item of yogiNft">
          <ion-col size="6" size-md="6">
            <!-- Card content -->
            <div class="card-container">
              <div class="trainer-title">{{ item.title }}</div>
              <img class="nft-image" [src]="item.image" [alt]="item.title" class="trainer-image">
              <div class="bid-info">
                <div class="bid-details">
                  <div class="bid-para">Current bid</div>
                  <div class="bid-number">{{ item.bidNum }}</div>
                </div>
                <div class="time-remaining">
                  <div class="bid-para">Time remaining</div>
                  <div class="bid-number">10:18:20</div>
                </div>
              </div>
              <button (click)="navigateToPlaceOrderPage()" ion-button color="primary" class="bid-button">
                Place bid
              </button>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>