<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>product-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        Hot Pick
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <swiper-container [spaceBetween]="10" [slidesPerView]="1">
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>

            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neo way!u</div>
                <img src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>

      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>

            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neo way!u</div>
                <img src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>

            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neo way!u</div>
                <img src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
                <button ion-button color="primary" class="bid-button">Place bid</button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    </swiper-container>
  </section>
  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        Popular Collection
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <swiper-container [spaceBetween]="10" [slidesPerView]="1">
      <swiper-slide>
        <ion-grid class="popular-product-card">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img src="assets/images/shoe-3.png" alt="My Hero Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>My Hero & super token</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img src="assets/images/shoe-3.png" alt="Light & Weight Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>Light & Weight</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="popular-product-card">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img src="assets/images/shoe-3.png" alt="My Hero Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>My Hero</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img src="assets/images/shoe-3.png" alt="Light & Weight Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>Light & Weight</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="popular-product-card">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img src="assets/images/shoe-3.png" alt="My Hero Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>My Hero</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img src="assets/images/shoe-3.png" alt="Light & Weight Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>Light & Weight</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="popular-product-card">
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img src="assets/images/shoe-3.png" alt="My Hero Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>My Hero</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-card>
                <ion-card-header>
                  <img src="assets/images/shoe-3.png" alt="Light & Weight Image">
                </ion-card-header>
                <ion-card-content>
                  <ion-card-title>Light & Weight</ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    </swiper-container>
  </section>
  <section>
    <ion-item lines="none">
      <ion-label class="main-lable-heading">
        WalkCraft NFT's
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <swiper-container [spaceBetween]="10" [slidesPerView]="1">
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neo way!u</div>
                <img src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neo way!u</div>
                <img src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neo way!u</div>
                <img src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    </swiper-container>
    <swiper-container [spaceBetween]="10" [slidesPerView]="1">
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neo way!u</div>
                <img src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
      <swiper-slide>
        <ion-grid class="main-product-card">
          <ion-row>
            <!-- Gym Trainer -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neon Spark</div>
                <img src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
                <div class="bid-info">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
            <!-- Yoga Guru -->
            <ion-col size="6" size-md="6">
              <div class="card-container">
                <div class="trainer-title">Neo way!u</div>
                <img src="assets/images/gym2.jpeg" class="trainer-image" alt="Julie">
                <div class="bid-info ion-justify-content-between">
                  <div class="bid-details">
                    <div class="bid-para">Current bid</div>
                    <div class="bid-number">1.8 ETH</div>
                  </div>
                  <div class="time-remaining">
                    <div class="bid-para">Time remaining</div>
                    <div class="bid-number">10:18:20</div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </swiper-slide>
    </swiper-container>
  </section>
</ion-content>