ion-content {
    --background: #1b354a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  }
  
  .card {
    background-color: #274c63;
    border-radius: 15px;
    padding: 20px;
    width: 90vw;
    max-width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-container {
    background-color: #1b354a;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    flex-grow: 1;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .text-container h2 {
    color: white;
    font-size: 22px;
    margin: 10px 0;
  }
  
  .text-container p {
    color: #9fa8da;
    font-size: 16px;
    margin: 0;
  }
  
  .custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  

  .progress-indicator {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #6d7687;
    border-radius: 50%;
    margin: 0 5px;
}

.dot.active {
    background-color: #ffffff;
}

.arrow-button {
  background-color: white;
  color: #274c63;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.arrow-button ion-icon {
  font-size: 18px;
  color: #274c63;
}