ion-content {
  --background: #1b354a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.card {
  background-color: #274c63;
  border-radius: 15px;
  padding: 20px;
  width: 90vw;
  max-width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  background-color: #1b354a;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  flex-grow: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.text-container h2 {
  color: white;
  font-size: 22px;
  margin: 10px 0;
}

.text-container p {
  color: #9fa8da;
  font-size: 16px;
  margin: 0;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.progress-indicator {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #6d7687;
  border-radius: 50%;
  margin: 0 5px;
}

.dot.active {
  background-color: #ffffff;
}

.arrow-button {
  background-color: white;
  color: #274c63;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  transition: background-color 0.3s; /* Add transition for button */
}

.arrow-button:hover {
  background-color: #f0f0f0; /* Change background on hover */
}

.arrow-button ion-icon {
  font-size: 18px;
  color: #274c63;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Hide overflowing content */
}

.slider-wrapper {
  display: flex; /* Use flexbox for horizontal alignment */
  transition: transform 0.5s ease; /* Smooth transition for sliding */
  will-change: transform; /* Improve performance */
}

.slide {
  min-width: 100%; /* Each slide takes full width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.nftImage {
  transform: scale(0.8); /* Scale down to 80% */
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.image-edit {
  height: 15px; /* Adjust the height as needed */
  width: auto;   /* Ensure width scales proportionally */
  object-fit: cover; /* This will crop the image if necessary to fit the specified height */
  object-position: center; /* This will center the image */
}
