<ion-content class="ion-padding">
  <div class="slider-container">
    <div class="slider-wrapper">
      <!-- Slide 1 -->
      <div class="slide">
        <div class="card">
          <div class="image-container">
            <img src="assets/images/gym4.jpeg" alt="Track Your Health Image" />
            <div class="progress-indicator">
              <div class="dot active"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <div class="text-container">
            <h2>Shape Your Body</h2>
            <p>Create a Workout & Diet Plan to stay fit.</p>
          </div>
          <ion-button fill="clear" class="arrow-button" (click)="nextSlide()">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="slide">
        <div class="card">
          <div class="image-container">
            <img src="assets/images/gym2.jpeg" alt="Track Your Health Image" />
            <div class="progress-indicator">
              <div class="dot"></div>
              <div class="dot active"></div>
              <div class="dot"></div>
            </div>
          </div>
          <div class="text-container">
            <h2>Eat Healthy</h2>
            <p>Easily track your workout & diet activity.</p>
          </div>
          <ion-button fill="clear" class="arrow-button" (click)="nextSlide()">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="slide">
        <div class="card">
          <div class="image-container">
            <img class="image-edit" src="assets/images/welcom3.jpeg" alt="Track Your Health Image" />
            <div class="progress-indicator">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot active"></div>
            </div>
          </div>
          <div class="text-container">
            <h2>Stay Fit</h2>
            <p>Track your progress and reach your goals.</p>
          </div>
          <ion-button fill="clear" class="arrow-button" (click)="nextSlide()">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>

  </div>
</ion-content>
