<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backToHome()">
        <ion-icon slot="icon-only" *ngIf="backFlag" color="dark" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">{{headerName}}</ion-title>
    <ion-buttons slot="end">
      <ion-avatar class="avatar">
        <ion-img src="/assets/images/dp.jpg" class="avatar-image"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
