<ion-content class="background">
  <!-- <div class="header">
    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" color="light" name="accessibility-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div> -->
  <div class="card">
    <div class="image">
      <ion-img class="logo" src="assets/img/img.jpeg" ></ion-img>
    </div>
    <form>
      <div class="form-field">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input placeholder="name"></ion-input>
      </div>
      <div class="form-field">
        <ion-icon name="call-outline"></ion-icon>
        <ion-input placeholder="phone number"></ion-input>
      </div>
      <ion-button expand="block" (click)="login()">Login</ion-button>
    </form>
  </div>
</ion-content>