.background {
  --background: #2055f4;
}

.card {
  height: 85%;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0%;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem;
}

.logo {
  position: absolute;
  top: -6.5rem;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: none;
  z-index: 0;
}

form {
  margin-top: 10rem;
}

.form-field {
  margin-bottom: 2rem; /* Increased margin */
  z-index: 1;
}

ion-button {
  margin-top: 4rem; /* Increased margin */
  width: 100%;
  height: 60px;
  border-radius: 70px;
  font-size: 1.5rem;
  --button-background-color: #9F8151 !important;
}

.remember-me-forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; /* Increased margin */
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me ion-checkbox {
  margin-right: 0.5rem;
}

.forgot-password {
  text-align: right;
}

.forgot-password a {
  text-decoration: none;
  color: #2055f4;
}

.forgot-password a:hover {
  text-decoration: underline;
}
