.background {
  --background: #1b1b1b; /* Dark background */
}

.card {
  height: 85%;
  width: 100%;
  background: #2c2c2c; /* Dark card background */
  position: absolute;
  bottom: 0%;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Optional shadow */
}

.logo {
  position: absolute;
  top: -6.5rem;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: none;
  z-index: 0;
}

form {
  margin-top: 10rem;
}

.form-field {
  margin-bottom: 2rem; /* Increased margin */
  display: flex; /* Use flex to align icon and input */
  align-items: center; /* Center vertically */
}

ion-input {
  --background: transparent; /* Transparent background */
  --color: white; /* Input text color */
  border: none; /* Remove border */
  border-bottom: none; /* Remove bottom border */
  padding-left: 10px; /* Add some padding to the left */
}

ion-input:focus {
  --box-shadow: none; /* Remove shadow on focus */
}

ion-icon {
  color: #528ff4; /* Icon color */
  margin-right: 10px; /* Space between icon and input */
}

ion-button {
  margin-top: 4rem; /* Increased margin */
  width: 100%; /* Full width */
  height: 40px; /* Reduced height */
  border-radius: 25px; /* Smaller border radius */
  font-size: 1rem; /* Reduced font size */
  --background: #528ff4 !important; /* Button background color */
  --color: white; /* Text color */
  --button-background: #528ff4; /* Ensure background color is set */
  --button-background-activated: #4162a1; /* Optional darker color when pressed */
  padding: 0; /* Remove padding for a more compact button */
}

.remember-me-forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; /* Increased margin */
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me ion-checkbox {
  margin-right: 0.5rem;
}

.forgot-password {
  text-align: right;
}

.forgot-password a {
  text-decoration: none;
  color: #528ff4; /* Updated link color */
}

.forgot-password a:hover {
  text-decoration: underline;
}
