.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-card {
  background-color: #f3f3f3;
  padding: 0.8rem;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;

  /* Set a specific width and height for the image card */
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  overflow: hidden; /* Ensure overflow is hidden if image is larger */
}

.image-card ion-img {
  opacity: 0.8;
  width: 100%; /* Make the image take full width of the card */
  height: 100%; /* Make the image take full height of the card */
  object-fit: cover; /* Ensure the image covers the card area */
}

.wrapper p {
  color: #c7c7c7;
}

.wrapper.active {
  .image-card {
    background-color: #2055f4;
  }

  .image-card ion-img {
    opacity: 1;
  }

  p {
    color: #ffffff;
    font-weight: 600;
  }
}
