<ion-content>
  <div class="top-space">
    
  </div>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic1.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Charlotte Ava</h2>
        <p>Posted 2 hours ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed1.jpeg" height="60%"></ion-img>
    <ion-item lines="none">
      <div class="content">
        <p class="caption">Stronger than ever, comeback is always stronger than setback</p>
        <p class="hashtag">#mygymworkout #mygym</p>
      </div>
    </ion-item>    
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label >1M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">800 comments</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/images/gum_trainer.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Shashi Tharur</h2>
        <p>Posted 2 hours ago</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <div class="content">
        <p class="caption">When life gives you lemons, don't make lemonade. 
          Make a lemon cake - it makes you happier."
        </p>
      </div>
    </ion-item>    
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label >2k likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">800 comments</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic4.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Amari Aadan</h2>
        <p>Posted 5 hours ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed8.jpeg" height="60%"></ion-img>
    <ion-item lines="none">
      <div class="content">
        <p class="caption">42000 steps 4000 calories rewards and many more worth it.</p>
        <p class="hashtag">#myrunburn #mycrazyfit #burnmycalories</p>
      </div>
    </ion-item> 
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label >4M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">219 comments</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic2.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Elizaveta</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed2.jpeg" height="60%"></ion-img>
    <ion-item lines="none">
      <div class="content">
        <p class="caption">With my trainer jimmy.</p>
        <p class="hashtag">#workingout #gymbuddy #lifeatgym #healthfit</p>
      </div>
    </ion-item> 
    <ion-item lines="none">
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label>2M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">121 comments</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic3.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Shankar</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed3.jpeg" height="60%"></ion-img>
    <ion-item lines="none">
      <div class="box blue-box">Breakfast</div>
      <div class="box green-box">2Slice[228g]</div>
      <div class="box red-box">430Calories</div>
    </ion-item>
    <ion-item lines="none">
      <div class="content">
        <p class="caption">Hot and spicy veggie pizza.</p>
        <p class="hashtag">#mybrakfast #hotnhungry #healthlife</p>
      </div>
    </ion-item> 
    <ion-item>
      <ion-icon name="heart"  color="danger"></ion-icon>
      <ion-label>1M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">900 comments</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic1.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Peter Parkar</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed9.jpeg" height="60%"></ion-img>
    <ion-item lines="none">
      <div class="content">
        <p class="caption">It feels as a feather,Inner jourey begins.</p>
        <p class="hashtag">#myyoga #yoga #lifeatgym #healthfit</p>
      </div>
    </ion-item> 
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label>200 likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">400 comments</ion-label>
    </ion-item>
  </ion-card>
</ion-content>