<ion-header >
  <ion-toolbar class="no-border">
    <ion-item class="no-border">
    <ion-title slot="start">FitCraft</ion-title>
  </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/200/300?random=1">
      </ion-avatar>
      <ion-label>
        <h2>Sachin</h2>
        <p>Posted 2 hours ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="https://picsum.photos/400/600?random=2" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label >1M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">800 comments</ion-label>
    </ion-item>

  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/200/300?random=3">
      </ion-avatar>
      <ion-label>
        <h2>Rahul</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="https://picsum.photos/400/600?random=4" height="60%"></ion-img>
    <ion-item lines="none">
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label>2M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">121 comments</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/200/300?random=11">
      </ion-avatar>
      <ion-label>
        <h2>Manoj</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="https://picsum.photos/400/600?random=5" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart"  color="danger"></ion-icon>
      <ion-label>1M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">900 comments</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/200/300?random=8">
      </ion-avatar>
      <ion-label>
        <h2>Sudarshan</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="https://picsum.photos/400/600?random=6" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart" slot="start" color="danger"></ion-icon>
      <ion-label>1M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">60 comments</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://picsum.photos/200/300?random=9">
      </ion-avatar>
      <ion-label>
        <h2>Prem</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="https://picsum.photos/400/600?random=7" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label>200 likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">400 comments</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
