ion-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: top;
}

.caption,
.hashtag {
  display: block; /* Ensures each appears on a new line */
  text-align: center; /* Center align text */
  margin: 0.5rem 0;
}

.caption {
  color: #528ff4; /* Caption color */
  font-size: 1rem;
}

.content {
  text-align: center; /* Center align content */
  width: 100%; /* Ensures full width for centering */
}

.hashtag {
  color: #59c745; /* Hashtag color */
  font-size: 1rem;
}

ion-item {
  --padding-start: 0; /* Removes default padding in ion-item */
  display: flex;
  justify-content: space-between;
}

.top-space {
  padding-top: 3rem;
}

.box-container {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.box {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 0.5rem;
  text-align: center;
  border: 2px solid; /* Add border */
}

.blue-box {
  border-color: #528ff4; /* Blue border */
  color: #528ff4; /* Blue text */
  background-color: transparent; /* No fill */
  font-size: 0.8rem;
}

.green-box {
  border-color: #59c745; /* Green border */
  color: #59c745; /* Green text */
  background-color: transparent; /* No fill */
  font-size: 0.8rem;
}

.red-box {
  border-color: #f45b5b; /* Red border */
  color: #f45b5b; /* Red text */
  background-color: transparent; /* No fill */
  font-size: 0.8rem;
}

/* Optional: For when the theme toggles */
.dark-mode {
  .caption,
  .hashtag {
    color: white; /* Change text color for dark mode */
  }

  .blue-box,
  .green-box,
  .red-box {
    border-color: white; /* Change border color for dark mode */
    color: white; /* Change text color for dark mode */
  }
}
