ion-content {
    --padding-start : 1rem;
    --padding-end : 1rem;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    h1{
        font-size: 2rem;
        font-weight: 600;
        color: #515151;
        margin: 0;
    }

    .avatar{
        width: 35px;
        height: 35px;
        background-color: #2055f4;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        
        overflow: hidden;
        ion-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
    }
}

.space{
    --padding-start : 1rem;
    --padding-end : 1rem;
}

.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.list-header{
    font-weight: 700;
    color:#515151;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    margin-top: 2.5rem;
}

.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.top-space{
    padding-top: 3rem;
}