<ion-content>
  <div class="top-space">
    
  </div>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic1.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Sanvi Joseph</h2>
        <p>Posted 2 hours ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed1.jpeg" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label >1M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">800 comments</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic4.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Arjun Gowda</h2>
        <p>Posted 5 hours ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed7.jpeg" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label >4M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">219 comments</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic2.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Drithi Bharadwaj</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed2.jpeg" height="60%"></ion-img>
    <ion-item lines="none">
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label>2M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">121 comments</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic3.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Priya Kashyap</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed3.jpeg" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart"  color="danger"></ion-icon>
      <ion-label>1M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">900 comments</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic1.jpeg">+
      </ion-avatar>
      <ion-label>
        <h2>Drithi Bharadwaj</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed4.jpeg" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart" slot="start" color="danger"></ion-icon>
      <ion-label>1M likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">60 comments</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profilepic/profilepic1.jpeg">
      </ion-avatar>
      <ion-label>
        <h2>Sanvi Joseph</h2>
        <p>Posted 1 hour ago</p>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/feed/feed5.jpeg" height="60%"></ion-img>
    <ion-item>
      <ion-icon name="heart" color="danger"></ion-icon>
      <ion-label>200 likes</ion-label>
      <ion-icon name="chatbubbles" slot="end" color="primary"></ion-icon>
      <ion-label slot="end">400 comments</ion-label>
    </ion-item>
  </ion-card>
</ion-content>