<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <!-- Main Image -->
  <div class="image-container">
    <img src="assets/icon/ashikaGymWide.jpg" alt="Main Image" class="main-image" />
    <!-- Avatar Image -->
  </div>
  <img src="assets/images/dp.jpg" alt="Avatar" class="avatar-image" />
  <div class="profile-info">
    <h2>Ashika Ranganath</h2>
    <p class="description">Profile Description</p>
    <div class="hashtags">
      <ion-chip outline color="primary">
        <ion-label>#art</ion-label>
      </ion-chip>
      <ion-chip outline color="primary">
        <ion-label>#music</ion-label>
      </ion-chip>
      <ion-chip outline color="primary">
        <ion-label>#acting</ion-label>
      </ion-chip>
      <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
      <ion-icon name="notifications-outline" class="notification-icon"></ion-icon>
    </div>
    

    
    
    <div style="display: flex; justify-content: space-around; width: 100%; height: 400px;">
      <div style="display: block; width: 350px; height: 350px; overflow: hidden;">
        <canvas id="stepsCanvas"></canvas>
        <p style="text-align: center;">Steps: 2200/4000</p>
      </div>
    </div>
    


    <!-- Edit Profile Button -->
    <ion-button expand="block" class="edit-button" fill="outline">
      Edit profile
      <ion-icon slot="end" name="bulb-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Stats Section -->
  <div class="profile-stats">
    <div class="stat">
      <p>200</p>
      <p>posts</p>
    </div>
    <div class="stat">
      <p>1M</p>
      <p>followers</p>
    </div>
    <div class="stat">
      <p>108</p>
      <p>following</p>
    </div>
  </div>
  <div>
    <app-speedometer></app-speedometer>
  </div>
  
  
  <ion-item lines="none">
    <ion-label class="main-lable-heading">
      NFTs I offer for now
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <swiper-slide>
    <ion-grid class="main-product-card">
      <ion-row>
        <!-- Gym Trainer -->
        <ion-col size="6" size-md="6">
          <div class="card-container">
            <div class="trainer-title">Neon Spark</div>
            <img class="nft-image" style="height: 150px;" src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
            <button ion-button color="primary" class="bid-button">Place bid</button>
          </div>
        </ion-col>

        <!-- Yoga Guru -->
        <ion-col size="6" size-md="6">
          <div class="card-container">
            <div class="trainer-title">Twister</div>
            <img class="nft-image" style="height: 150px;" src="assets/images/Twister.png" class="trainer-image" alt="Julie">
            <button ion-button color="primary" class="bid-button">Place bid</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </swiper-slide>
  <ion-item lines="none">
    <ion-label class="main-lable-heading">
      Photos
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <section class="thumbnail-container">
    <div class="section">
      <div class="thumbnail-grid">
        <div class="grid-item grid-item-large">
          <img src="assets/images/a.jpeg" alt="Photo 1" />
        </div>
        <div class="grid-item">
          <img src="assets/images/b.jpeg" alt="Photo 2" />
        </div>
        <div class="grid-item">
          <img src="assets/images/c.jpeg" alt="Photo 3" />
        </div>
        <div class="grid-item">
          <img src="assets/images/ashika4.jpeg" alt="Photo 4" />
        </div>
        <div class="grid-item">
          <img src="assets/images/ashika5.jpeg" alt="Photo 5" />
        </div>
        <div class="grid-item">
          <img src="assets/images/ashika6.jpeg" alt="Photo 6" />
        </div>
      </div>
    </div>
  </section>

  <ion-item lines="none">
    <ion-label class="main-lable-heading">
      My Collections
    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
<swiper-container>
  <swiper-slide>
    <ion-grid class="main-product-card">
      <ion-row>
        <!-- Gym Trainer -->
        <ion-col size="6" size-md="6">
          <div class="card-container">
            <div class="trainer-title">Neon Spark</div>
            <img class="nft-image" style="height: 150px;" src="assets/images/nylo-shoe.png" class="trainer-image" alt="Rocky">
          </div>
        </ion-col>

        <!-- Yoga Guru -->
        <ion-col size="6" size-md="6">
          <div class="card-container">
            <div class="trainer-title">Twister</div>
            <img class="nft-image" style="height: 150px;" src="assets/images/Twister.png" class="trainer-image" alt="Julie">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </swiper-slide>
  </swiper-container>
  <div class="tokens-card">
    <div class="tokens-header">
      <div class="tokens-title">Tokens</div>
      <div class="public-toggle">
        <span class="toggle-label">Public</span>
        <ion-toggle [(ngModel)]="isPublic" (ionChange)="togglePublic()"></ion-toggle>
      </div>
    </div>

    <div class="tokens-list">
      <div *ngFor="let token of tokens" class="token-item">
        <div class="token-id">{{ token.id }}</div>
        <div class="token-details">
          <div class="token-name">{{ token.name }}</div>
          <div class="token-value">{{ token.eth }} ~ {{ token.usd }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="rewards-card">
    <div class="rewards-header">My Rewards</div>

    <div class="rewards-content">
      <div class="reward-item">
        <svg viewBox="0 0 512 512"
          style="width: 32px; height: 32px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(220, 255, 121);">
          <path
            d="M0 405.3V448c0 35.3 86 64 192 64s192-28.7 192-64v-42.7C342.7 434.4 267.2 448 192 448S41.3 434.4 0 405.3zM320 128c106 0 192-28.7 192-64S426 0 320 0 128 28.7 128 64s86 64 192 64zM0 300.4V352c0 35.3 86 64 192 64s192-28.7 192-64v-51.6c-41.3 34-116.9 51.6-192 51.6S41.3 334.4 0 300.4zm416 11c57.3-11.1 96-31.7 96-55.4v-42.7c-23.2 16.4-57.3 27.6-96 34.5v63.6zM192 160C86 160 0 195.8 0 240s86 80 192 80 192-35.8 192-80-86-80-192-80zm219.3 56.3c60-10.8 100.7-32 100.7-56.3v-42.7c-35.5 25.1-96.5 38.6-160.7 41.8 29.5 14.3 51.2 33.5 60 57.2z">
          </path>
        </svg>
        <div class="reward-value">108</div>
        <div class="reward-label">Total Rewards collected</div>
      </div>

      <div class="reward-item">
        <svg viewBox="0 0 512 512"
          style="width: 32px; height: 32px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(220, 255, 121);">
          <path
            d="M0 405.3V448c0 35.3 86 64 192 64s192-28.7 192-64v-42.7C342.7 434.4 267.2 448 192 448S41.3 434.4 0 405.3zM320 128c106 0 192-28.7 192-64S426 0 320 0 128 28.7 128 64s86 64 192 64zM0 300.4V352c0 35.3 86 64 192 64s192-28.7 192-64v-51.6c-41.3 34-116.9 51.6-192 51.6S41.3 334.4 0 300.4zm416 11c57.3-11.1 96-31.7 96-55.4v-42.7c-23.2 16.4-57.3 27.6-96 34.5v63.6zM192 160C86 160 0 195.8 0 240s86 80 192 80 192-35.8 192-80-86-80-192-80zm219.3 56.3c60-10.8 100.7-32 100.7-56.3v-42.7c-35.5 25.1-96.5 38.6-160.7 41.8 29.5 14.3 51.2 33.5 60 57.2z">
          </path>
        </svg>
        <div class="reward-value">21</div>
        <div class="reward-label">Current Month Rewards</div>
      </div>
    </div>
  </div>
</ion-content>