<ion-content class="ion-padding">
  <div class="card">
    <div class="image-container">
      <img src="assets/images/gym4.jpeg" alt="Track Your Health Image" />
    </div>
    <div class="text-container">
      <h2>Track Your Health</h2>
      <p>Keep track of your health to keep yourself healthy.</p>
    </div>
    <div class="progress-indicator">
      <div class="dot active"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <ion-button fill="clear" class="arrow-button">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>