<ion-content class="ion-padding">
  <div class="top-space"></div>

  <div class="custom-tab-bar">
    <div class="custom-tab-button" (click)="selectTab('gymCraft')" [class.tab-selected]="selectedTab === 'gymCraft'">
      <h1>Gym Craft</h1>
    </div>

    <div class="custom-tab-button" (click)="selectTab('yogaCraft')" [class.tab-selected]="selectedTab === 'yogaCraft'">
      <h1>Yoga Craft</h1>
    </div>
  </div>

  <div *ngIf="selectedTab === 'gymCraft'">
    <h2>Workout Session<span class="live-badge"> <ion-icon name="flame" class="live-icon"></ion-icon>Live</span></h2>
    <div>
      <swiper-container [spaceBetween]="10" [slidesPerView]="2.3">
        <ng-container *ngFor="let item of gymLiveClassList; let i = index">
          <swiper-slide>
            <app-popular-product [item]="item" [selected]="selectedCardIndex === i" (selectedValue)="onCardSelect($event, i)">
            </app-popular-product>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div> 
  </div>
  <div *ngIf="selectedTab === 'yogaCraft'">
     <h2>Yoga Session<span class="live-badge"> <ion-icon name="flame" class="live-icon"></ion-icon>Live</span></h2>
     <div>
      <swiper-container [spaceBetween]="10" [slidesPerView]="2.3">
        <ng-container *ngFor="let item of yogaLiveClassList; let i = index">
          <swiper-slide>
            <app-popular-product [item]="item" [selected]="selectedCardIndex === i" (selectedValue)="onCardSelect($event, i)">
            </app-popular-product>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </div>

  <ion-refresher class="top-space-refresher" slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content class="center-spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-refresher-content>
  </ion-refresher>

  <div class="custom-tab-bar">
    <div class="custom-tab-button" (click)="selecteSubTab('discover')" [class.tab-selected]="selectedSubTab === 'discover'">
      <h1>Discover</h1>
    </div>
  
    <div class="custom-tab-button" (click)="selecteSubTab('trainers')" [class.tab-selected]="selectedSubTab === 'trainers'">
      <h1>Trainers</h1>
    </div>

    <div class="custom-tab-button" (click)="selecteSubTab('myplan')" [class.tab-selected]="selectedSubTab === 'myplan'">
      <h1>My Plan</h1>
    </div>
  </div>
  <div class="space">
    <app-searchbar></app-searchbar>
  </div>
  <h1 class="list-header">FitCraft workout</h1>
  <br>
  <div>
    <swiper-container [spaceBetween]="10" [slidesPerView]="2.3">
      <ng-container *ngFor="let item of products; let i = index">
        <swiper-slide>
          <app-popular-product [item]="item" [selected]="selectedCardIndex === i" (selectedValue)="onCardSelect($event, i)">
          </app-popular-product>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </div>

  <h1 class="list-header">Popular Premiuim workout</h1>
  <br>
  <div>
    <swiper-container [spaceBetween]="10" [slidesPerView]="2.3">
      <ng-container *ngFor="let item of products; let i = index">
        <swiper-slide>
          <app-popular-product [item]="item" [selected]="selectedCardIndex === i" (selectedValue)="onCardSelect($event, i)">
          </app-popular-product>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </div>

  <!-- <div class="product-list">
    <app-product-card *ngFor="let item of products; let i = index" [item]="item" [selected]="selectedCardIndex === i"
      (selectedValue)="onCardSelect($event, i)">
    </app-product-card>
  </div> -->
</ion-content>
